.openWordBox {
    width: 360px;
    height: 530px;
    position: absolute;
    top: 80px;
    background: white;
    z-index: 1;
}

.guessedWordsBox {
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: start;
    width: 360px;
}

.guessedWords {
    width: 360px;
    overflow: hidden;
}
